body {
}
#content{
    width:100%;
    overflow:auto;
}
form{
    width:50%;
    margin:auto;
}
fieldset{
    width:500px;
    border:1px solid blue;
    border-radius:20px;
    margin:15px;
    padding:20px;
    line-height:2.5em;
}
legend{
    color:#d947ef;
    font-size:15px;
}
.st1{
    width:500px;
    border-bottom:1px solid #a577f2;
    margin:10px;
}
.st2{
    color:gray;
    font-size:14px;
}
.st3{
    text-align:right;
}
span{
    color:red;
}
label{
    color:#6344cf;
    font-size:15px;
}